/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&display=swap');

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
}

/* Variables CSS */
:root {
    --header-height: 4.5rem;
    /* Colors */
    --first-color: #000D23;
    --black-color: hsl(0,0%,0%);
    --white-color: hsl(0,0%,95%);
    --title-color: hsl(0,0%,0%);
    --text-color: hsl(0,0%,35%);
    --body-color: hsl(0,0%,87%);

    /* Font and typography */
    --body-font: 'Assistant', sans-serif;
    --biggest-font-size: 2.5rem;
    --h1-font-size: 1.75rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.813rem;
    --smaller-font-size: 0.75rem;

    /* Font weight */
    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;

    /* z-index */
    --z-tooltip: 10;
    --z-fixed: 100;
}

body{
    background-color: #001527;
    justify-content: center;
    align-items: center;
    font-family: var(--body-font);
    color: var(--white-color); 
}

.main {
    overflow: hidden;
}


/* Header and Nav */
.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: var(--first-color);
    z-index: var(--z-fixed);
    transition: box-shadow 0.4s, background-color 0.4s;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.391);
}

.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.nav__list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav__item {
    margin-right: 3rem;
}

.nav__link {
    text-decoration: none;
    color: var(--white-color);
    font-weight: var(--font-semi-bold);
    font-size: var(--normal-font-size);
    transition: color 0.3s;
    position: relative;
    padding: 1.5rem 0;
}

.nav__link::after {
    content: '';
    width: 0;
    height: 2px;
    background-color: var(--white-color);
    position: absolute;
    left: 0;
    bottom: 0.8rem; 
    transition: width 0.3s;
}

.nav__link:hover {
    color: var(--white-color);
}

.nav__link:hover::after {
    width: 25px;
}

.nav__link-image {
    margin-left: 0.1rem;
    width: auto;
    height: 24px;
}

.nav__logo {
    display: flex;
    align-items: center;
    font-weight: var(--font-semi-bold);
    color: var(--white-color);
    margin-left: 1rem;
    text-decoration: none;
}

.nav__logo-image {
    width: 32px;
    height: 32px;
    object-fit: contain;
    margin-left: 1rem;
}

.nav__logo-name {
    text-decoration: none; 
    color: var(--white-color);
    font-weight: var(--font-semi-bold); 
    font-size: var(--h1-font-size);
    margin-left: 1rem;
}

/* Home Section */
.home {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('Images/jungle.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: var(--body-font);
    color: var(--white-color);
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}

.home h1 {
    font-size: var(--biggest-font-size);
    margin-bottom: 1rem;
}

.home p {
    font-size: var(--h2-font-size);
    margin-bottom: 2rem;
}

.home__scroll {
    display: block;
    width: max-content;
    margin: 0 auto;
    text-decoration: none;
}

.home__scroll-box {
    background-color: var(--first-color);
    color: var(--white-color);
    width: 36px;
    height: 36px;
    display: grid;
    place-items: center;
    font-size: 1rem;
    cursor: pointer;
    overflow: hidden;
    transition: background-color .4s;
    border: none;
}

.home__scroll-box i {
    animation: scroll-down 3s infinite;
}

/*Animate scroll icon*/
@keyframes scroll-down{
    0%{
        transform: translateY(-1rem);
        opacity: 0;
    }
    50%{
        transform: translateY(0);
        opacity: 1;
    }
    100%{
        transform: translateY(.6rem);
        opacity: 0;
    }
}

/* Upload Section */
.upload {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--first-color);
}

.upload__container {
    width: 100%;
    max-width: 1200px;
    padding: 20px;
}

.upload__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.upload__header {
    margin-bottom: 2rem;
}

.upload__header h2 {
    color: var(--white-color);
    font-size: var(--h2-font-size);
    margin-bottom: 1rem;
}

.upload__file-button {
    background-color: #599cb9;
    color: var(--white-color);
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
    font-size: var(--normal-font-size);
    transition: background-color 0.3s;
}

.upload__file-button:hover {
    background-color: #182a32;
}

.upload__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.upload__button {
    width: 200px;
    padding: 0.5rem 1rem;
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    color: var(--white-color);
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.upload__button#ub {
    background-color: #345B6B;
    transition: var(--first-color) 0.3s;
}

.upload__button#up {
    background-color: #345B6B;
    transition: var(--first-color) 0.3s;
}

.upload__button#ud {
    background-color: #73b758;
    transition: var(--first-color) 0.3s;
}

.upload__button#ub:hover,
.upload__button#up:hover{
    background-color: #182a32; 
}

.upload__button#ud:hover {
    background-color: #436834;
}

/* Footer */
.footer {
    background-color: #000d1e;
    color: var(--white-color);
    text-align: center;
    padding: 2rem 0;
    font-family: var(--body-font);
}

.footer p {
    margin: 0;
    font-size: var(--small-font-size);
}

