<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Wildlife Institute of India">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <!-- Favicon -->
    <link rel="shortcut icon" href="Images/wii.png" type="image/x-icon">
    <!-- Remixicons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.4.0/remixicon.css" crossorigin="">
    <!-- CSS -->
    <link rel="stylesheet" href="style.css">
    
    <title>Wildlife Institute of India</title>
</head>
<body>

    <header class="header" id="header">
        <nav class="nav container">
            <a href="#" class="nav__logo">
                <img src="Images/wiiw.png" alt="Logo" class="nav__logo-image">
                <span class="nav__logo-name">CaTRAT</span>
            </a>

            <div class="nav__menu" id="nav-menu">

                <ul class="nav__list">
                    <li class="nav__item">
                        <a href="#home" class="nav__link">HOME</a>
                    </li>
                    <li class="nav__item">
                        <a href="#about" class="nav__link">ABOUT</a>
                    </li>
                    <li class="nav__item">
                        <a href="#contact" class="nav__link">CONTACT</a>
                    </li>
                    <li class="nav__item">
                        <img src="Images/IIITD.png" alt="Logo" class="nav__link-image">
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <main class="main">
        <!-- HOME Section -->
        <section class="home section" id="home">
            <div class="home__container container grid">
                <div class="home__content">
                    <h1>Welcome to CaTRAT</h1>
                    <p>Let's get started</p>
                    <a href="#upload" class="home__scroll">
                        <div class="home__scroll-box">
                            <i class="ri-arrow-down-s-line"></i>
                        </div>
                    </a>
                </div>
            </div>
        </section>

        <!-- UPLOAD Section -->
        <section class="upload section" id="upload">
            <!--<div class="upload__container container grid">
                <div class="upload__content">

                    <div class="upload__header">
                        <h2>Upload Images</h2>
                        <input type="file" id="fileUpload" accept="image/*" style="display: none;">
                        <label for="fileUpload" class="upload__file-button">Choose Files</label>
                    </div>

                    <div class="upload__buttons">
                        <button class="upload__button" id="ub">Upload</button>
                        <button class="upload__button" id="up">Process</button>
                        <button class="upload__button" id="ud">Download</button>
                    </div>

                </div>
            </div>-->
        </section>
    </main>


    <script src="script.js"></script>

</body>
</html>
